body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    background-image: url('Wallpapers/profilewall.gif');
    margin: 0;
    padding: 0;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #343a40;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 100px;
}

.rating {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

    .rating input {
        display: none;
    }

    .rating label {
        font-size: 30px;
        color: #ddd;
        cursor: pointer;
    }

    .rating input:checked ~ label {
        color: #ffc107;
    }

    .rating label:hover, .rating label:hover ~ label {
        color: #ffc107;
    }

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: darkorange;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .submit-btn:hover {
        background-color: orange;
    }

.thank-you-message {
    text-align: center;
    font-size: 18px;
    color: #28a745;
    margin-top: 20px;
}
