#add-icon {
    width: 16px;
    height: 16px;
}

.main-title {
    padding: 0 25px;
    align-items: center;
}

.right {
    cursor: pointer;
}

.popup {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);
    margin-top: -25px;
    transition: top 0ms ease-in-out 300ms, opacity 300ms ease-in-out, margin-top 300ms ease-in-out;
}

    .popup > * {
        margin: 15px 0;
    }

    .popup .close-btn {
        position: absolute;
        top: -5px;
        right: 10px;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
    }

.main-container {
    transition: filter 0ms ease-in-out 300ms;
}

body.active-popup {
    overflow: hidden;
}

    body.active-popup .main-container {
        background: rgba(0,0,0,0.08);
        transition: filter 0ms ease-in-out 0ms;
    }

    body.active-popup .popup {
        top: 50%;
        opacity: 1;
        margin-top: 0px;
        transition: top 0ms ease-in-out 0ms, opacity 300ms ease-in-out, margin-top 300ms ease-in-out;
    }