<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Books.mdf;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<add name="ConnectionStringA"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web>
	  <authorization>
		  <allow roles="Admin"/>
	  </authorization>
  </system.web>
</configuration>
